# Server Configuration (Localhost)
PORT=5001
NODE_ENV=development

# MongoDB Connection (Localhost atau MongoDB Atlas)
MONGO_URI=mongodb+srv://admin:Afandi02@mahasiswa-cluster.e2i6rhf.mongodb.net/?appName=mahasiswa-cluster

# JWT Secret Key
JWT_SECRET=rahasia_negara_api_mahasiswa_backend_2024

# Google Gemini API Key
GEMINI_API_KEY=AIzaSyBAaFz57h-tk0hjfN_6aeMj0E57jptciVc
